<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Конкретний автор</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <canvas id="pieDiagram"></canvas>
    <table style="width:100%" class="table table-striped">
        <tr>
            <th>Тема</th>
            <th>Дата</th>
            <th>Автор</th>
            <th>Повідомлення</th>
        </tr>
        {% for d in data %}
            <tr>
                <td>{{ d['topic'] }}</td>
                <td>{{ d['date'] }}</td>
                <td>{{ d['author'] }}</td>
                <td>{{ d['message'] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
<script>
    var authorMessagesCount = {{  author_messages_count  }}
    var topicMessagesCount = {{  topic_messages_count  }}
    var data = {
        datasets: [{
            label: 'Кількість повідомлень',
            data: [authorMessagesCount, topicMessagesCount - authorMessagesCount],
            backgroundColor: [
                '#006400',
                '#36a2eb'
            ]
        }],
        labels: [
            'Записи автора у даній темі',
            'Записи інших авторів'
        ]
    }
    var ctx = document.getElementById('pieDiagram').getContext('2d')
    var chart = new Chart(ctx, {
        type: 'doughnut',
        data: data,
        options: {
            'width':100,
            'height':100
        }
    })
</script>
</html>